.navbar-default{
    background-color:#4b78c1 !important;
}

.navbar-default .navbar-brand{
    color:#ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.sub-page-heading{
    position:relative;
    padding-top: 6%;
    padding-bottom: 2%;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color:#ffffff;
    }
}

.wifi{
        background: url(../img/services/wifi.jpg) no-repeat center center;
}

.repair{
        background: url(../img/services/repair.jpg) no-repeat center center;
}